[Unit]
Description=MySQL Replicator Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/mysql-replicator run --config /etc/mysql-replicator/apply.json
Restart=on-failure
RestartSec=5s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
